### Java Files ###
*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar
*.tar.gz
*.war
*.zip
hs_err_pid*

### Ant, Gradle and Maven ###
gradle-app.setting
local.properties
.gradle/
assets/
build/
lib/
libs/
target/

### Eclipse ###
*.bak
*.launch
*.swp
*.tmp
.classpath
.loadpath
.project
.externalToolBuilders/
.metadata/
.settings/

### Intellij ###
*.iml
*.ipr
*.iws
.idea/
out/

### NetBeans ###
dist/
nbbuild/
nbdist/
nbproject/
/bin/
